/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
    background: url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url('../img/home-bg3.jpg') no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color:rgb(34,34,34); /* fallback for IE 8 and below */
    background-color:rgba(34,34,34,0.7);
    color:rgb(255,255,255);
    
}


.content-section-b div div div {
    opacity: 1 !important;
}
.generator-content {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url('../img/footer-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}
.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.divbox {
    border-width: 2px;
    border-color: #000000;
    border-style: groove;
}

.divbox-right {
    border-right-width: 2px;
    border-right-color: #000000;
    border-right-style: groove;
}

.full-width {
    width: 100%;
}

#result {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    height: auto;
}

.colorPreview {
    display:inline-block;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 1px solid #111111;
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
    width: 2vw;
    height: 2vw;
}

#validation-error-div {
    display: none;
    text-align: center;
}
.ui-dialog-titlebar-close { 
     background-image: url("../img/ui-icons_222222_256x240.png");
 }

.textarea-full-width {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}
.scrollablediv {
    overflow: scroll;
    white-space: nowrap;
}

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
.help-div {
    float:right;
}
#details-button {
    float:right !important;
}
.how-to {
    background: url('../img/how-to-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.big-list {
    font-weight: 900;
}
.big-list li {
    margin-top: 1em;
}
p {
    text-align: justify;
    text-justify: inter-word;
}
.faq-container div.row {
    display: flex;
    align-items: center;
}
.faq-container hr:not(.section-heading-spacer) {
    color: #333;
    background-color: #333;
    height: 5px;
}
.grey-background {
    background-color: #f8f8f8;
}
.video-container {
	padding-bottom:45%;
	padding-top:30px;
    height: 0;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.txtaligncenter {
    text-align: center;
}