/*

Template Name: Myway
Template Demo: http://awerest.com/demo/myway

Purchase: http://themeforest.net/item/myway-onepage-bootstrap-parallax-retina-template/4058880?ref=awerest

Author: Awerest

Description: Onepage Bootstrap Multi-Purpose Parallax Retina Template
Tags: Responsive, Mobile First, Retina, Bootstrap 3, One Page, Multi Page, Multi-Purpose, Agency, Clean, Creative, Minimal, Components, Photography, Portfolio, Business, Corporate, White, Modern

Version: 2.5

---------------

Table of Contents:

1) General
2) Typography
3) Backgrounds and buttons
4) Dividers
5) Intro & Sections Headers
6) Generator
7) Works
8) Gallery
9) Team
10) Contact
11) Footer
12) Navigation
13) Carousels
14) Preloader

*/

/* ==== 1) General ==== */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

::selection {
	background: #00a0dc;
	color:#fff;
}

::-moz-selection {
	background: #00a0dc;
	color:#fff;
}

@import url("steadysets/steadysets.css");
@import url("linecons/linecons.css");
@import url("et-line/et-line.css");

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background: #fff;
	color: #111;
	overflow-x: hidden;
	margin: 0;
	text-rendering: geometricPrecision;
}

section {
	position: relative;
}

.img-responsive {
	display: inline-block;
}

/* ==== 2) Typography ==== */

.light {
	color: #fff;
}

.smoke, h5 small {
	color: #aaa;
}

p {
	margin: 0 0 15px 0;
}

p:last-child {
	margin: 0;
}

a {
	color: #111;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
}

a:hover {
	color: #999;
	text-decoration: none;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
}

a:focus, a:active {
	color: #999;
	outline: none;
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin: 0 0 15px 0;
}

h1 {
	font-size: 48px;
	letter-spacing: -1px;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h5 {
	font-family: 'Droid Serif', serif;
	font-size: 19px;
	font-style: italic;
	line-height: 1.48;
	margin: 0 0 15px 0;
}

@media (max-width: 768px) {
	h1 {
		font-size: 42px;
		letter-spacing: 0;
	}
	h2 {
		font-size: 32px;
	}
}

@media (max-width: 568px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 26px;
	}
}

/* ==== 3) Backgrounds and buttons ==== */

.white-bg {
	background: #fff;
}

.smoke-bg {
	background: #f5f5f5;
}

.btn, .btn:hover, .btn:focus, .btn:active, .btn:active:focus {
	background: #00a0dc;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	padding: 14px 25px;
	margin: 15px 0 0 0;
	border-radius: 25px !important;
	border: 1px solid transparent;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn:hover {
	background: #008cc8;
}

.btn.btn-ghost, .btn.btn-ghost:hover, .btn.btn-ghost:focus, .btn.btn-ghost:active, .btn.btn-ghost:active:focus {
	background: transparent;
	color: #00a0dc;
	border: 1px solid #00a0dc;
}

.btn.btn-ghost:hover {
	background: #00a0dc;
	color: #fff;
}

/* ==== 4) Dividers ==== */

.divide-xs {
	padding-top: 7px;
	padding-bottom: 8px;
}

.divide-sm {
	padding-top: 30px;
	padding-bottom: 30px;
}

.divide-md {
	padding-top: 45px;
	padding-bottom: 45px;
}

.divide-lg {
	padding-top: 60px;
	padding-bottom: 60px;
}

.divide-xl {
	padding-top: 90px;
	padding-bottom: 90px;
}

@media (max-width: 768px) {
	.divide-md {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

hr.no-margin {
	margin-top: 0;
	margin-bottom: 0;
}

hr.no-margin-top {
	margin-top: 0;
}

hr.no-margin-bottom {
	margin-bottom: 0;
}

hr.title-divider {
	border-width: 2px 0 0 0;
	max-width: 180px;
}

/* ==== 5) Intro & Sections Headers ==== */

#intro {
	background-image: url("../img/home.png");
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 445px;
}

#generators-logo {
	background-image: url("../img/generator-logos.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}

#onecmd-logo {
	background-image: url("../img/onecmd-logo.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}

#link-top {
	background-image: url("../img/links.png");
	-webkit-background-size: cover;
	background-size: cover;
}


.parallax {
	background-attachment: fixed;
}

@media screen and (max-device-width: 1024px) {
	.parallax {
		background-attachment: scroll;
	}
}

.float-content {
	position: absolute;
	width: 100%;
	top: 20%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.section-overlay {
	background: rgba(0, 0, 0, .5);
	position: absolute;
	width: 100%;
	height: 100%;
}

/* ==== 6) Generator ==== */

.myway-icon-generator {
	display: inline-block;
	position: relative;
	width: 56px;
	height: 56px;
	fill: #00a0dc;
}

.myway-icon-features {
	display: inline-block;
	position: relative;
	width: 36px;
	height: 36px;
	fill: #00a0dc;
}

.myway-icon-generator:after, .myway-icon-features:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.generator i {
	color: #bbbdc0;
	font-size: 48px;
}

@media (max-width: 767px) {
	.generator i {
		font-size: 36px;
	}
}

.media {
	margin: 0;
}

.media-left {
	padding-right: 20px;
}

/* ==== 7) Works ==== */

.squared {
	padding-top: 100%;
	overflow: hidden;
	position: relative;
}

.squared, .squared-content {
	padding-left: 0;
	padding-right: 0;
}

.squared-content {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

@media (max-width: 991px) and (min-width: 768px) {
	.squared {
		padding-top: 133%;
	}
}

@media (max-width: 767px) {
	.squared {
		padding-top: 0;
	}
	.squared .squared-content {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}

/* ==== 8) Gallery ==== */

#link .thumbnail {
	background: transparent;
	text-align: center;
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
}

.link-item {
	padding: 0;
}

.link-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.link-overlay:hover {
	background: rgba(0, 0, 0, .4);
}

.link-overlay div.link-description {
	position: absolute;
	top: 45%;
	right: 0;
    width: 80%;
    height: auto;
    background-color: #e9e9e9;
    opacity: 0;
    color: rgba(0, 0, 0, 0.0);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.link-overlay:hover div.link-description {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;   
}
.myway-icon-link {
	position: absolute;
	top: 30%;
    bottom:0;
	right: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 68px;
	height: 68px;
	display: inline-block;
	fill: rgba(255, 255, 255, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: .05em;
	stroke-opacity: 1;
	stroke-linecap: butt;
	stroke-linejoin: bevel;
	stroke-dasharray: 0, 150;
	-webkit-transition: fill 1.5s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
	-moz-transition: fill 1.5s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
	-ms-transition: fill 1.5s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
	-o-transition: fill 1.5s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
	transition: fill 1.5s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
}

@media (max-width: 768px) {
	.myway-icon-link {
		width: 48px;
		height: 48px;
	}
}

.link-overlay:hover > .myway-icon-link {
	fill: rgba(255, 255, 255, 1);
	stroke-dasharray: 150, 1;
	stroke-opacity: 0;
}

.myway-icon-link:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal-backdrop.in {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
	background-color: #000;
}

.ekko-lightbox .modal-content {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	background-color: transparent;
}

.ekko-lightbox .modal-header {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	border: 0;
}

.ekko-lightbox .modal-header .close {
	font-size: 42px;
	font-weight: 100;
	color: #fff;
	text-shadow: none;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
	float: none;
}

.ekko-lightbox .modal-header .close:hover {
	-webkit-opacity: .8;
	-moz-opacity: .8;
	opacity: .8;
	filter: alpha(opacity=80);
}

.ekko-lightbox .modal-body {
	padding: 0;
}

.ekko-lightbox .modal-footer {
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9;
	opacity: 0.9;
	border: 0;
	padding: 0;
}

/* ==== 9) Team ==== */

#team .thumbnail, #team .team-img {
	background-color: transparent;
	position: relative;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0;
}

.team-overlay {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.team-overlay .myway-icon-team {
	position: absolute;
	top: 110%;
	left: 50%;
	right: 0;
	display: inline-block;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: top .2s ease;
	-moz-transition: top .2s ease;
	-ms-transition: top .2s ease;
	-o-transition: top .2s ease;
	transition: top .2s ease;
}

.team-overlay:hover > .myway-icon-team {
	top: 50%;
}

.team-overlay .myway-icon-team a {
	width: 42px;
	height: 42px;
	fill: rgba(255, 255, 255, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 0.08em;
	stroke-opacity: 1;
	stroke-linecap: butt;
	stroke-linejoin: bevel;
	stroke-dasharray: 0, 150;
	stroke-dashoffset: 150px;
	-webkit-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
	-moz-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
	-ms-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
	-o-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
	transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
}

.team-overlay:hover > .myway-icon-team a {
	fill: rgba(255, 255, 255, 1);
	stroke-dasharray: 150, 1;
	stroke-opacity: 0;
}

.myway-icon-team svg {
	padding: 5px;
	display: inline-block;
	max-width: 42px;
}

.myway-icon-team a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.myway-icon-team a {
	position: relative;
	display: inline-block;
	z-index: 1;
	-webkit-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
	-moz-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
	-ms-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
	-o-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
	transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
}

.myway-icon-team a:after {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.testimonial blockquote {
	font-size: 14px;
	position: relative;
	padding: 30px 0 45px 0;
	margin: 0;
	top: 0;
	border-left: 0;
	min-height: 230px;
	-webkit-transition: box-shadow .3s, top .5s ease;
	-moz-transition: box-shadow .3s, top .5s ease;
	-ms-transition: box-shadow .3s, top .5s ease;
	-o-transition: box-shadow .3s, top .5s ease;
	transition: box-shadow .3s, top .5s ease;
}

@media (min-width: 1025px) {
	.testimonial blockquote {
		min-height: 170px;
	}
}

@media (max-width: 767px) {
	.testimonial blockquote {
		min-height: 0;
	}
}

.testimonial:hover > blockquote {
	top: -5px;
	box-shadow: 0 5px 0 rgba(0, 140, 186, 1);
}

/* ==== 10) Contact ==== */

#gmap {
	height: 400px;
}

@media (max-width: 568px){
	#gmap {
		height: 250px;
	}
}

#contact {
	background: #fff;
}

@media (min-width: 768px) {
	.form-group {
		display: inline-block;
	}
}

.honeypot {
	display: none !important;
}

form .btn, form .btn:hover, form .btn:focus, form .btn:active:focus {
	margin-top: 30px;
}

.flowuplabels .fl_wrap {
	position: relative;
	margin-top: 30px;
	height: 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.flowuplabels .fl_label {
	position: absolute;
	background: #fff;
	color: #111;
	font-weight: 300;
	line-height: 1.2;
	padding: 8px;
	left: 30px;
	top: 5px;
	z-index: 3;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

.flowuplabels .fl_input {
	background: none;
	color: #111;
	padding: 0 0 0 20px;
	height: 43px;
	width: 100%;
	border: 1px solid #eee;
	border-radius: 25px;
	z-index: 2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.flowuplabels .fl_wrap.focused .fl_label,
.flowuplabels .fl_wrap.populated .fl_label {
	font-size: 12px;
	color: #aaa;
	top: -15px;
}

.flowuplabels .fl_wrap.focused .fl_label {
	color: #00a0dc;
}

.message {
	display: none;
}

#form-alert {
	padding: 5px 15px 5px 15px;
	margin: 15px 0 0 0;
}

.alert li {
	list-style: none;
	display: inline-block;
}

.alert-danger {
	background: #ffaa00;
	border-width: 0;
	border-radius: 0;
	color: #fff;
}

.alert-success {
	background: #7dc800;
	border-width: 0;
	border-radius: 0;
	color: #fff;
}

/* ==== 11) Footer ==== */

footer a {
	display: inline-block;
	padding: 6px;
}

footer h4 {
	margin: 0;
}

.myway-icon-info {
	display: inline-block;
	position: relative;
	width: 36px;
	height: 36px;
	fill: #00a0dc;
}

.myway-icon-info:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ==== 12) Navigation ==== */

.navbar-default {
	background-color: #fff;
	padding: 5px 0px;
}

.navbar-default .navbar-collapse {
	border-color: #f8f8f8;
}

.navbar-fixed-top {
	position: fixed;
}

.navbar-brand {
	line-height: 0;
}

.nav li:first-child {
	display: none;
}

.nav a {
	color: #111;
}

.nav a:hover {
	color: #aaa !important;
}

.nav .active a {
	color: #aaa !important;
}

.navbar li a {
	font-size: 13px;
	text-align: center;
	padding: 20px 15px !important;
}

@media (max-width: 767px) {
	.navbar li a {
		padding: 10px 15px !important;
	}
}

.navbar a, .navbar .active a:hover, .navbar .active a:focus {
	background-color: transparent !important;
}

.navbar-brand {
	position: relative;
	padding: 10px 15px !important;
	height: auto;
	line-height: 0;
}

.navbar-brand img:nth-child(2) {
	position: absolute;
	top: 10px;
}

@media (max-width: 1024px) {
	.navbar-brand img:nth-child(1) {
		opacity: 0 !important;
	}
	.navbar-brand img:nth-child(2) {
		opacity: 1 !important;
	}
	.navbar-default {
		background-color: rgba(255, 255, 255, 0.95) !important;
	}
	.nav a {
		color: #111 !important;
	}
}

.navbar-toggle {
	margin-top: 13px;
	margin-bottom: 13px;
	border: 0px solid transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #111;
	width: 30px;
	height: 2px;
	border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

/* ==== 13) Carousels ==== */

@media not all, (-webkit-transform-3d) {
	.carousel-inner>.item {
		-webkit-backface-visibility: initial;
		backface-visibility: initial;
	}
}

#carousel-intro .carousel-inner {
	overflow: inherit;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
	background: rgba(255, 255, 255, .3);
	opacity: 1;
	width: 10%;
	height: 10%;
	top: 45%;
	padding: 0;
	border: none;
	text-shadow: none;
	color: #111;
	z-index: 3;
}

.carousel-control.btn:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.carousel {
	opacity: 1;
}

.carousel .item {
	position: absolute;
	display: block !important;
	width: 100%;
	top: 0;
	left: 0 !important;
	opacity: 0;
	z-index: -1;
	-moz-transition: opacity ease-in-out .6s;
	-o-transition: opacity ease-in-out .6s;
	-webkit-transition: opacity ease-in-out .6s;
	transition: opacity ease-in-out .6s;
}

.carousel .item:first-child {
	position: relative;
	top: auto;
}

.carousel .item.active {
	opacity: 1;
	z-index: 0;
	-moz-transition: opacity ease-in-out .4s;
	-o-transition: opacity ease-in-out .4s;
	-webkit-transition: opacity ease-in-out .4s;
	transition: opacity ease-in-out .4s;
}

/* ==== 14) Preloader ==== */

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9999;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	width: 70px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #aaa;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
	0%, 80%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 40% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

.commandtxtarea {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width:100%;
}